:root {
    --md-primary-fg-color: #ffcc00;
    --md-accent-fg-color: #ffcf0d;
}

.md-header, .md-nav--primary .md-nav__title[for=__drawer] {
    color: black;
}

.md-nav__source {
    background-color: var(--md-default-fg-color);
}

.md-typeset :is(.admonition,details):is(.note) {
    border-color: #ffcc00;
}

.md-typeset :is(.admonition,details) {
    border-color: #ffcc00;
}

[data-md-color-scheme="slate"] {
--md-hue: 110; 
}